{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y-GamingBD</title>
    <link rel="stylesheet" href="{% static 'css/css/login_style.css' %}">
</head>
<body>
    <div class="account">
        <h1>Forget Password ?</h1>
    </div>
    <div class="container_send_mail">
        <h3>Lost your password? Please enter your email address. You will receive a link to create a new password via email.</h3>
        <form action="" method="post" class="login">
		{% csrf_token %}
		{{form.as_p}}
            <input type="submit" value="Send Mail">
		</form>
</body>
</html>
